<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <div id="main">
        <div id="theme-toggle-btn">
            <input type="button" value="🌛   Dark">
        </div>
        <div id="form-cont">
            <h1 class="form-heading">Welcome Back</h1>
            <p class="form-subtitle">Fill the details to access your account.</p>
            <form id="login-form" action="/auth/login" method="post">
                <div class="form-group">
                    <label for="identifier">Username or Email</label>
                    <input type="text" id="identifier" name="identifier">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <input type="submit" class="submit-btn" value="Submit">
            </form>
            <span class="sign-up-cont">Don't have an account? <a href="/auth/register">Sign up</a></span>
        </div>
    </div>
</body>

</html>

